@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--Dark-Blue);
  padding: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

:root{
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

.card-container{
  background-color: var(--Dark-Grayish-Blue) ;
  padding: 1.25rem 1.25rem 3rem;
  border-radius: 1.25rem;
  position: relative;
}
.card-container h1{
  color: var(--Neon-Green);
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  letter-spacing: 0.4rem;
}
.card-container p{
  font-size: 28px;
  color: var(--Light-Cyan);
  line-height: 1.2;
  margin-bottom: 2rem;
}
.dice-img button{
  background-color: var(--Neon-Green);
  padding: 1.25rem;
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.dice-img button:hover{
  background-color: hsl(150, 92%, 54%);
  box-shadow: 0px 0px 16px var(--Neon-Green);
}
.footer-container{
  margin-top: 75px;
  font-size: 17px;
  color: var(--Grayish-Blue);
}
span{
  color: var(--Light-Cyan);
}



.mobile-img{
  display: block;
}
.desktop-img{
  display: none;
}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
  .mobile-img{
    display: none;
  }
  .desktop-img{
    display: block;
  }
  .footer-container{
    margin-top: 150px;
  }
  
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
